@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}
body{
    background-color: #b5bbbb;
    height: 2000px;
}
nav{
    width: 100%;
    height: 80px;
    background: #b5bbbb;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    box-shadow: 2px 2px 4px black;
    z-index: 1;
}
.nav_links a{
    display: inline-block;
    background: #d96969;
    border-radius: 7px;
    padding: 10px;
    color: black;
    font-weight: bold;
    font-size: 20px;
    transition: .5s;  
    margin-left: 8px;
}
.nav_links a:hover{
    letter-spacing: 4px;
    /* background: #b5bbbb; */
    color: #b5bbbb;
    transform: scale(1.08);
}
#bars{
    background:#d96969;
    padding: 8px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
    font-size: 20px;
    cursor: pointer;
}
.logo{
    display: flex;
    align-items: center;
    font-weight: bold;
    color: black;
    font-size: 20px;
    font-family: 'Pacifico', cursive;
}
.header_banner{
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 80px;
}
.banner_text{
    background-color: #d96969;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.text_group h1{
    font-family: 'Pacifico', cursive;
    padding: 6px;
}
.text_group p{
    padding: 0 6px;
    margin-bottom: 25px;
    font-weight: bold;
    font-size: 20px;
}
.text_group a{
    font-size: 20px;
    color: #d96969;
    font-weight: bold;
    background-color: #b5bbbb;
    padding: 8px;
    border-radius: 7px;
    transition: .5s;
}
.text_group a:hover{
    letter-spacing: 3px;
    transform: scale(1.08);
    color: black;
}
.banner_img{
    flex: 1;
    /* border-bottom:2px solid black ; */
}
.banner_img > img{
    width: 100%;
    object-fit: cover;
    object-position: center;
    height: 600px;
}
#Aboutus{
    width: 100%;
    height: auto;
    padding: 40px 80px;
    display: flex;
    padding-top: 130px;
}
.text{
    text-align: justify;
}
.text p{
    margin-bottom: 25px;
}
.a{
    color: #d96969;
    font-weight: bold;
    letter-spacing: 2px;
}
.text h2{
    margin-bottom: 25px;
}
b{
    color: #5290ff;
}
.left,.right{
    flex: 1;
    height: 500px;
}
.right{
    margin-left: 20px;
}
.left-img {
    margin-left: 30px;
}
.left-img > img{
    margin-right: 30px;
}
.right iframe{
    width: 100%;
    height: 87%;
}
.menu-text{
    padding-left: 120px;
}
.menu-gp{
    padding-top: 120px;
    margin-bottom: 70px;
}
.b{
    margin-bottom: 25px;
    
}
.zero{
    padding: 0px 15px;
}
.item img{
    object-fit: cover;
}
.owl-theme{
    z-index: 0;
}
#chefs{
    padding-top: 100px;
    margin-top: 30px;
    margin-bottom: 50px;
}
.chefs-text{
    text-align: center;
    margin-bottom: 25px;
}
.chefs{
    color: #d96969;
    font-weight: bold;
    margin-bottom: 10px;
}
.chefs-head{
    font-size: 30px;
}
.chefs-gp{
    display: flex;
    justify-content: space-evenly;
}
.container{
    width: 350px;
    height: 420px;
    border: 2px solid grey;
    overflow: hidden;
    padding: 5px;
    border-radius: 5px;
}
.container img{
    width: 100%;
    height: 88%;
    object-fit: cover;
    border-radius: 3px;
    object-position: center;
}
.img-text {
    margin-left: 110px;
}
.img-text p {
    margin-left: 20px;
}
.contact{
    padding-top: 100px;
}
.contact-container{
    display: flex;
    padding: 60px 50px;
}
.contact-text{
    flex: 1;
    padding: 50px 100px ;
}
.contact-text h3,h1{
    margin-bottom: 25px;
}
.info{
    display: flex;
    margin-top: 70px;
}
.pinfo,.einfo{
    width: 230px;
    height: 200px;
    background-color: white;
    border-radius: 5px;
    
}
.company,.phone{
    width: 80px;
    height: 80px;
    margin-left: 75px;
    background-color: #fb5849;
    border-radius: 50%;
    margin-top: -40px;
    overflow: hidden;
}
.pem,.cem{
    margin-left: 25px;
    margin-top: 25px;
    font-size: 30px;
}
.pinfo{
    margin-right: 20px;
}
.einfo{
    margin-left: 15px;
}
.p-text{
    margin-top: 50px;
}
.p-text h3 ,.p-text p  {
    margin-left: 45px;
}
.p-text p {
    margin-left: 60px;
    cursor: pointer;
    margin-bottom: 7px;
}
.e-text{
    margin-top: 50px;
}
.e-text h3 ,.e-text p  {
    margin-left: 45px;
}
.e-text p{
    cursor: pointer;
    margin-bottom: 7px;
}
.p-text p:hover{
    color: #fb5849;
}
.e-text p:hover{
    color: #fb5849;
}
.e-text h3{
    margin-left: 80px;
}
.table-container{
    flex: 1;
    width: 400px;
    height: 550px;
    background-color: gainsboro;
    border-radius: 5px;
}
.table-container h1{
    text-align: center;
    margin-top: 25px;
    margin-bottom: 60px;
}
.ne,.pn,.dt{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 25px;
}
.table-container input{
    padding: 10px;
    outline-color: #fb5849;
    border-radius: 5px;
    border: none;
}
.table-container .message{
    margin-left: 55px;
    padding-top: 20px;
    padding-right: 245px;
    padding-bottom: 120px;
    margin-bottom: 20px;
    
}
#btn{
    margin-left: 55px;
    padding: 10px 136px;
    background-color: #fb5849;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    border: none;
}
#btn:hover{
    background-color: #fb5849d4;
}
.special-menu-header{
    text-align: center;
    padding: 50px 500px;
    padding-top: 200px;
}
.special-menu-text h3{
    color: #d96969;
    margin-bottom: 15px;
}
.special-menu-image{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 38px;
}
.breakfast{
    width: 80px;
    height: 70px;
    background-color: gainsboro;
    border-radius: 5px;
}
.breakfast i{
    font-size: 30px;
    margin-top: 25px;
    color: #fb5849;
}
.breakfast p{
    margin-top: 30px;
}
@media (max-width:600px) {
    nav{
        padding: 0 30px;
    }
    .logo{
        font-size: 17px;
    }
    .logo > img{
        width: 40px;
    }
    #bars{
        display: block;
    }
    .nav_links{
        position: absolute;
        top: 80px;
        backdrop-filter: blur(5px);
        background-color: #b5bbbb61;
        left: 0;
        right: 0;
        padding: 20px 50px;
        transform: translateX(100%);
        transition: .5s;
    }
    .nav_links a{
        display: block;
        margin-bottom: 10px;
        text-align: center;
        border: 2px solid black;
        /* padding: 4px 50px; */
    }
    .show{
        transform: translateX(0%);
    }
    .header_banner{
        flex-direction: column;
    }
    .banner_text{
        width: 100%;
        padding: 20px;
    }
    #Aboutus{
        flex-direction: column;
        padding: 0px 30px;
        padding-top: 100px;
        padding-bottom: 10px;
    }
    .text{
        text-align: justify;
    }
    .left-img > img{
        width: 100%;
        margin-bottom: 15px;
        object-fit: cover;
    }
    .right iframe{
        height: 300px;
    }
    .menu-text,.zero{
        padding: 0px 30px;
    }
    .chefs-gp{
        flex-direction: column;
    }
    .container{
        padding: 20px;
        margin-left: 63px;
        margin-bottom: 25px;
    }
    .contact-container{
        flex-direction: column;
        padding: 60px 25px;
    }
    .contact-text{
        padding: 1px;
    }
    .info{
        flex-direction: column;
    }
    .pinfo,.einfo{
        width: 100%;
        height: 180px;
        margin-bottom: 35px;
        padding: 10px 0px;
    }
    .einfo{
        margin-left: 0px;
    }
    .company,.phone{
        margin-left: 180px;

    }
    .p-text ,.e-text {
        margin-left: 110px;
        margin-top: 15px;
    }
    .e-text p{
        margin-left: 35px;
    }
    .table-container{
        width: 100%;
       padding: 0px 30px;
       height: auto;
    }
    .table-container h1{
        margin-bottom: 20px;
    }
    .table-container input{
       margin-bottom: 15px;
       padding: 15px 0px;
    }
    .table-container input::placeholder{
        padding-left: 15px;
        
    }
    .ne,.pn,.dt{
        flex-direction: column;
        margin-bottom: 0px;
    }
    .table-container .message{
        margin-left: 0px;
        padding-right: 215px;
    }
    #btn{
        margin-left: 0px;
        padding: 10px 115px;
        text-align: center;
        margin-bottom: 15px;
    }

}